.homePageWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
}

.formWrapper{
  padding: 20px;
  border-radius: 10px;
  background-color: #393E46;
  width: 400px;
  max-width: 90%;
}

.inputGroup{
  display: flex;
  flex-direction: column;
}

.inputBox{
  padding: 7px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom : 10px;
  background : #eeeeee;
  font-size : 14px;
  font-weight : bold;
}

.btn{
  border: none;
  border-radius :5px;
  padding: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.joinBtn{
  background : #5dbe4a;
  width: 100px;
  margin-left:auto
}

.joinBtn:hover{
  background : #328b44
}

.createInfo{
  margin: 0 auto;
  margin-top: 20px
}

.createNewBtn{
  color: #5dbe4a;
  text-decoration: none
}